.card-body {
    padding: 5px !important;
}

kendo-grid-column {
    white-space: nowrap;
}

.vertical-text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.excel-btn:hover{
    color: white;
    background-color: #025b32;
    border-color: #045d33;
}
.excel-btn{
    color: white;
    background-color: #058b4d;
    border-color: #058b4d;
}

.k-grid tr.localData {
    background-color: #fce28f !important;
} 
::ng-deep .k-grid tr.offline  {
    background-color:rgb(240, 42, 42) !important;
    color: white;
} 
.k-i-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 64px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ff6757;
  }
  